{% extends "global/base.html" %}

{% block title %}Crear Curso{% endblock %}

{% block content %}
    <form action="/courses" method="post">
        <h2>CREAR CURSO</h2>
        <div class="form-group">
            <label for="name">Nombre del curso</label>
            <input type="text" class="form-control" id="name" name="name" 
                   value="{{ form.name }}" placeholder="Ingrese el nombre del curso">
        </div>
        <div class="form-group">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code" name="code" 
                   value="{{ form.code }}" placeholder="Ingrese el código del curso">
        </div>
        <br>
        <div class="space"></div>
        <button type="submit" class="btn btn-primary">Crear Curso</button>
    </form>
{% endblock %}
