{% extends "global/base.html" %}

{% block title %}Inicio | Sistema Académico{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="mb-4">Sistema de Gestión Académica</h1>
        <p class="lead mb-5">Selecciona una sección para administrar:</p>

        <div class="d-grid gap-3 col-md-6 mx-auto">
            <a href="/courses" class="btn btn-primary btn-lg">Cursos</a>
            <a href="/professors" class="btn btn-outline-primary btn-lg">Profesores</a>
            <a href="/students" class="btn btn-outline-success btn-lg">Estudiantes</a>
        </div>
    </div>
</div>
{% endblock %}